* {
  box-sizing: border-box;
}

html, body {
  margin: 0px;
  padding: 0px;
  font-family: "Futura",'Arial Narrow', sans-serif;
}

#maintitle {
  font-family: "Futura", Arial, sans-serif;
  font-size: 55pt;
  margin: 0px;
  padding-left: 10px;
  grid-area: title;
  display: block;
}

#titlePic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  grid-area: titlePic;
}

#korean {
  grid-area: korean;
  display: block;
}

body {
  background-color: #FFFFFF;
  transition: 0.3s all;
}

section {
  height: 100vh;
}

#titleContainer { 
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "titlePic korean"
    "titlePic title"
} 

h1 {
  margin: 15rem;
  font-weight: lighter;
}

/*.sectionTitle {
  transform: rotate(-90deg);
  font-weight: lighter;
  font-size: 36pt;
}*/

.ingredients {
  background-color: #FFFFFF;
}

.carrots {
  background-color: #F8AC67;
  color: #DC6626;
}

.cucumbers {
  background-color: #ADD7A2;
  color: #2F5B2C;
}

.beef {
  background-color: #5D3C15;
  color: #F3DDC0;
}

.rice {
  background-color: #F3DDC0;
  color: #5D3C15;
}

.sauce {
  background-color: #CC4128;
  color: #F3DDC0;
}

.spinach {
  background-color: #2F5B2C;
  color: #ADD7A2;
}

.mushrooms {
  background-color: #AE977A;
  color: #5D3C15;
}

.egg {
  background-color: #F6C75E;
  color: #A4772B;
}

.combine {
  background-color: #FFFFFF;
}