<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./style/style.css">
        <script src="https://d3js.org/d3.v5.min.js"></script>
    </head>
    <body>
        <div class="button_group">
            <button class="tablinks active" id="initialData" onclick="showVis(event)">1957 Data</button>
            <button class="tablinks" id="updatedData" onclick="showVis(event)">2007 Data</button>
        </div>

        <div id="chart"></div>
        <script src="./script.js"></script>
    </body>
</html>
