<!doctype html>
<html lang="en">
<head>
	<title>Scrollytelling demo: Waypoints</title>
	  
	<link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7124072/6351572/css/fonts.css" />

	<link rel='stylesheet' href='css/style.css' />
    <link rel='stylesheet' href='graphic.css' />
    <script src='lib/d3.min.js'></script>
    <!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->

</head>
<body>
	<main>

		<div class='library'>
			
			<div class='library__graphic graphic'>
				<div class='graphic__vis'></div>
				<div class='graphic__prose'>
					<p class='trigger' data-step='0'>Here’s how the data looks for a white t-shirt…</p>
					<p class='trigger' data-step='1'>I then synthesized the data for all 8 items, highlighting the points in the commercial life cycle that are most targeted by sustainability efforts…</p>
					<p class='trigger' data-step='2'>By reorganizing the SDGs within the framework of Planet, People, and Prosperity, we can visualize where sustainability campaigns in the fashion industry place their focus.</p>
					<p class='trigger' data-step='3'>From here, we can investigate which stages of product development have the most active sustainability efforts, sorting from the highest impact:</p>
					<p class='trigger' data-step='4'>to the lowest:</p>
					<p class='trigger' data-step='5'>The areas of Consumer Engagement and Transparency & Government are also comparatively low-impact for sustainability, ranking at 11 and 12 respectively.</p>
				</div>
				
				
			</div>
		</div>

		
	</main>

	<!-- for the graphic -->
	
    <!-- <script src='graphic.js'></script> -->
	<!-- <script src='script.js'></script> -->
	<!-- <script src='test.js'></script> -->
	<script src='new.js'></script>
	<!-- <script src='basic.js'></script> -->

	<!-- The scroll library -->
	<!-- http://imakewebthings.com/waypoints/ -->
	<script src='lib/noframework.waypoints.min.js'></script>
	
	
	<script>
		(function() {

			// helper function so we can map over dom selection
			function selectionToArray(selection) {
				var len = selection.length
				var result = []
				for (var i = 0; i < len; i++) {
					result.push(selection[i])
				}
				return result
			}

			function waypoints() {
				// select elements
				var graphicEl = document.querySelector('.graphic')
				var graphicVisEl = graphicEl.querySelector('.graphic__vis')
				var triggerEls = selectionToArray(graphicEl.querySelectorAll('.trigger'))

				// viewport height
				var viewportHeight = window.innerHeight
				var halfViewportHeight = Math.floor(viewportHeight / 2)

				// a global function creates and handles all the vis + updates
				var graphic = createGraphic('.graphic')

				// handle the fixed/static position of grahpic
				var toggle = function(fixed, bottom) {
					if (fixed) graphicVisEl.classList.add('is-fixed')
					else graphicVisEl.classList.remove('is-fixed')

					if (bottom) graphicVisEl.classList.add('is-bottom')
					else graphicVisEl.classList.remove('is-bottom')
				}
				
				// setup a waypoint trigger for each trigger element
				var waypoints = triggerEls.map(function(el) {
					
					// get the step, cast as number					
					var step = +el.getAttribute('data-step')

					return new Waypoint({
						element: el, // our trigger element
						handler: function(direction) {
							// if the direction is down then we use that number,
							// else, we want to trigger the previous one
							var nextStep = direction === 'down' ? step : Math.max(0, step - 1)
							
							// tell our graphic to update with a specific step
							graphic.update(nextStep)
						},
						offset: '50%',  // trigger halfway up the viewport
					})
				})

				// enter (top) / exit (bottom) graphic (toggle fixed position)
				var enterWaypoint = new Waypoint({
					element: graphicEl,
					handler: function(direction) {
						var fixed = direction === 'down'
						var bottom = false
						toggle(fixed, bottom)
					},
				})

				var exitWaypoint = new Waypoint({
					element: graphicEl,
					handler: function(direction) {
						var fixed = direction === 'up'
						var bottom = !fixed
						toggle(fixed, bottom)
					},
					offset: 'bottom-in-view', // waypoints convenience instead of a calculation
				})
			}

			waypoints()

		})()
	</script>

</body>
</html>
