<!doctype html>
<html lang="en">
<head>
	<title>#goals</title>
	  
	<link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7124072/6351572/css/fonts.css" />

	<link rel='stylesheet' href='css/style.css' />
    <link rel='stylesheet' href='graphic.css' />
	<script src='lib/d3.min.js'></script>
	<script src="https://unpkg.com/d3"></script>
	<script src="https://unpkg.com/d3fc"></script>
    <!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->

</head>
<body>
	<section id="intro">
		<h1>#goals</h1>
		<p>I reverse-engineered Giorgia Lupi’s 2017 MoMA installation <i>Capstones</i> to examine the impact of the fashion industry on sustainability.</p>
		<p><i>Capstones</i> charts the progress of 8 fashion items toward meeting the UN’s 17 Sustainable Development Goals across 15 Areas of Impact that form the commercial life cycle of a product.</p>
		<p>Evaluating <i>Capstones</i> as a high-level snapshot of common practices by large apparel and footwear companies, I extracted the relationships between Areas of Impact (industries) and the Sustainable Development Goals (SDGs) for each item.</p> 
	</section>
	<main>

		<div class='library'>
			
			<div class='library__graphic graphic'>
				<div class='graphic__vis'></div>
				<div class='graphic__prose'>
					<p class='trigger' data-step='0'>Here’s how the data looks for a white t-shirt. <br><br>Each point indicates a stage of the product development cycle in which sustainability efforts are already in place, mapped to the Sustainable Development Goals that they impact.</p>
					<p class='trigger' data-step='1'>I then synthesized the data for all 8 items, highlighting the points in the commercial life cycle that are most targeted by sustainability effort. Circle size corresponds to the number of key fashion items that share the same intersection of industry and sustainability.</p>
					<p class='trigger' data-step='2'>By reorganizing the SDGs within the framework of <span style="color:#46A76E"><b>Planet</b></span>, <span style="color:#ED7F2E"><b>People</b></span>, and <span style="color:#947CC0"><b>Prosperity</b></span>, we can visualize where sustainability campaigns in the fashion industry place their focus.</p>
					<p class='trigger' data-step='3'>From here, we can investigate which stages of product development have the most active sustainability efforts, sorting from the highest impact of: <br><br><span style="color:#443730">1. Manufacturing</span><br><span style="color:#443730">2. Social & Labor</span><br><span style="color:#443730">3. Waste & Circular Living</span></p>
					<p class='trigger' data-step='4'>to the lowest:</p>
					<p class='trigger' data-step='5'>The areas of Consumer Engagement and Transparency & Government are also comparatively low-impact for sustainability, ranking at 11 and 12 respectively.</p>
				</div>
				
				
			</div>
		</div>

		
	</main>
	<section id="conclusion">
		<p>Retail spaces, marketing campaigns, influencers, and consumers are an under-utilized resource in current sustainability efforts. Especially consumers.</p>
		<p>We don’t have enough information yet to effect change through our purchasing power.</p> 
		<p>Consumers need a standardized metric by which to evaluate the ethics and sustainable practices of the companies responsible for clothing us.</p>
		<p>If we all start asking questions of our retailers about how their products are designed, sourced, manufactured, and transported, we can exert pressure on the industry to embrace a more transparent model.</p>
	</section>
	<section id="credits">
		<span>Analysis based on data from 
		<a href="http://giorgialupi.com/data-items-a-fashion-landscape-at-the-museum-of-modern-art">Data Items</a> 
		by Giorgia Lupi</span>
		<p id="byline">Written, designed, and engineered by Leah Welch</p>
	</section>

	<!-- for the graphic -->
	
    <!-- <script src='graphic.js'></script> -->
	<!-- <script src='script.js'></script> -->
	<!-- <script src='test.js'></script> -->
	<script src='new.js'></script>
	<!-- <script src='basic.js'></script> -->

	<!-- The scroll library -->
	<!-- http://imakewebthings.com/waypoints/ -->
	<script src='lib/noframework.waypoints.min.js'></script>
	
	
	<script>
		(function() {

			// helper function so we can map over dom selection
			function selectionToArray(selection) {
				var len = selection.length
				var result = []
				for (var i = 0; i < len; i++) {
					result.push(selection[i])
				}
				return result
			}

			function waypoints() {
				// select elements
				var graphicEl = document.querySelector('.graphic')
				var graphicVisEl = graphicEl.querySelector('.graphic__vis')
				var triggerEls = selectionToArray(graphicEl.querySelectorAll('.trigger'))

				// viewport height
				var viewportHeight = window.innerHeight
				var halfViewportHeight = Math.floor(viewportHeight / 2)

				// a global function creates and handles all the vis + updates
				var graphic = createGraphic('.graphic')

				// handle the fixed/static position of grahpic
				var toggle = function(fixed, bottom) {
					if (fixed) graphicVisEl.classList.add('is-fixed')
					else graphicVisEl.classList.remove('is-fixed')

					if (bottom) graphicVisEl.classList.add('is-bottom')
					else graphicVisEl.classList.remove('is-bottom')
				}
				
				// setup a waypoint trigger for each trigger element
				var waypoints = triggerEls.map(function(el) {
					
					// get the step, cast as number					
					var step = +el.getAttribute('data-step')

					return new Waypoint({
						element: el, // our trigger element
						handler: function(direction) {
							// if the direction is down then we use that number,
							// else, we want to trigger the previous one
							var nextStep = direction === 'down' ? step : Math.max(0, step - 1)
							
							// tell our graphic to update with a specific step
							graphic.update(nextStep)
						},
						offset: '50%',  // trigger halfway up the viewport
					})
				})

				// enter (top) / exit (bottom) graphic (toggle fixed position)
				var enterWaypoint = new Waypoint({
					element: graphicEl,
					handler: function(direction) {
						var fixed = direction === 'down'
						var bottom = false
						toggle(fixed, bottom)
					},
				})

				var exitWaypoint = new Waypoint({
					element: graphicEl,
					handler: function(direction) {
						var fixed = direction === 'up'
						var bottom = !fixed
						toggle(fixed, bottom)
					},
					offset: 'bottom-in-view', // waypoints convenience instead of a calculation
				})
			}

			waypoints()

		})()
	</script>

</body>
</html>
