@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');

* {
    box-sizing: border-box;
  }

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #fff9f2;
}

#container {
  width: 80%;
  height: auto;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
        "chart annotation";
  margin: 50px auto;
  position: relative;
}

.theme {
  text-transform: capitalize;
}

#words {
  text-transform: capitalize;
}

  
#sections{
  width: 25%;
	margin: 0px 70% 0px 0px;
	font-family: 'Montserrat', sans-serif;
	color: #333333;
	font-weight: 600;
	font-size: 14pt;
	padding-bottom: 25vh;
  }
  
  
#sections > div{
	padding: 5% 10%;
	margin-bottom: 90vh;
  }
  
#sections > div:last-child{
	margin-bottom: 200px;
  }
  
#sections > div.graph-scroll-active{
	opacity: 0.9;
  }
  
#vis{
	width: 100%;
	height: 90vh;
	position: -webkit-sticky;
	position: sticky;
	top:20px;
	margin-left: 0px;
	float: none;
	transform: translate(-50%, 0);
	margin-left: 50%;
	position: sticky;
	top: 0px;
  }
  
pre{
	overflow: hidden;
  }

#tooltip {
    position: absolute;
    margin: 10px;
    max-width: 400px;
    height: auto;
    width: auto;
    padding: 20px;
    font-size: 11pt;
    background-color:#3d332a;
    color: #ffffff;
    border: 1px solid #f9ede1;
    border-radius: 3px;
    pointer-events: none;
}

  #tooltip.hidden {
    display: none;
}

/* #grotesque {
  pointer-events: stroke;
} */