@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');

* {
    box-sizing: border-box;
  }

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    /*background-color: #f9f9f4;*/
    background-color: #f9ede1;
}

/* INTRODUCTION */

.intro{
    width: 100%;
    height: 100vh;
}

@media (min-width: 1200px) {
    .intro {
        width: 1170px;
        margin-left: 100px;
        padding-top: 100px;
    }
    }
    @media (min-width: 992px){
    .intro  {
        width: 970px;
        margin-left: 100px;
        padding-top: 100px;
    }
    }
    @media (min-width: 768px) {
    .intro {
        width: 750px;
        margin-left: 100px;
        padding-top: 100px;
    }
    }

h1 {
    width: 75%;
    font-size: 60pt;
    font-weight: 300;
    padding-top: 50px;
    margin-bottom: 20px;
}

h2 {
    font-style: italic;
}

.intro p {
    width: 75%;
    padding-top: 20px;
}

/* FIRST SCROLLER */

.library {
    margin-bottom: 40px;
}

#container {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "note_container chart timeline";
    height: 100%;
  }

/* TIMELINE */

.graphic__prose {
    grid-area: timeline;
    height: 350vh;
    margin: 30px 30px 30px 30px;
}

.spine {
    background-color: #a08875;
    height: 100%;
    width: 1px;
    margin-left: 3px;
}

#nyu {
    top: 122vh;
}

#midd_fresh {
    top: 138vh;
}

#london {
    top: 170vh;
}

#midd_sr {
    top: 186vh;
}

#la {
    top: 202vh;
}

#nottingham {
    top: 246vh;
}

#china {
    top: 250vh;
}

#orme {
    top: 282vh;
}

#roslindale {
    top: 330vh;
}

#lawrence {
    top: 346vh;
}

.trigger {
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    border: 2px solid #3d332a;
    text-align: left;
    background-color: #f9ede1;
    border-radius: 4px;
}

.trigger > .timeline_date {
    color: #3d332a;
    font-size: 9pt;
    font-weight: bolder;
    transform: translate(20px,-5px);
}

.trigger > .timeline_loc {
    color: #3d332a;
    font-family: 'Noto Serif', serif;
    font-size: 9pt;
    transform: translate(20px,-7px);
    width: 200px;
}

/* FIRST GRAPH */

#graph {
    grid-area: chart;
    height: 100vh;
    margin: 30px 45px 30px 0px;
    position: -webkit-sticky;
    position: sticky;
    top: 2%;
}

.axis line {
    stroke: #a08875;
}
  
.axis path {
    visibility: hidden;
}

.xaxis line {
    visibility: hidden;
}
  
.xaxis path {
    visibility: hidden;
}

.tick text {
    color: #3d332a;
    font-weight: bolder;
}

.vintageYAxis path {
    visibility: hidden;
}

.vintageYAxis line {
    visibility: hidden;
}

.vintageXAxis path {
    stroke: #a08875;
}

.vintageXAxis > .tick text {
    font-size: 10pt;
    font-weight: lighter
}

.vintageYAxis > .tick text {
    font-size: 10pt;
    font-weight: lighter
}

/* KEY & PROFILES */

.note_container {
    position: fixed;
    height: 90vh;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 2%;
    grid-area: note_container;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: 
        "instructions"    
        "annotation"
        "date_labels";
}

.instructions {
    grid-area: instructions;
    margin-left: 100px;
    border-bottom: 1px solid #a08875;
    width: 90%;
}

.description {
    width: 70%;
}

.annotation {
    grid-area: annotation;
    margin: 0px 30px 20px 100px;
    height: 45vh;
    width: 90%;
    border-bottom: 1px solid #a08875;
    display: grid;
    grid-template-columns: 33% 66%; 
    grid-template-rows: 1fr;
    grid-template-areas:
        "image info";
}

.annotation_text {
    grid-area: info;
    margin: 0px 200px 50px 50px;
    color: #3d332a;
}

.annotation_image {
    grid-area: image;
    display: block;
    margin: 1em auto;
    
}

.bottoms {
    
    max-height:350px;
    max-width:300px;
    height:auto;
    width:auto;
}

.dresses {
    max-height:350px;
    max-width:300px;
    height:auto;
    width:auto;
}

.tops {
    max-height:300px;
    max-width:300px;
    height:auto;
    width:auto;
}

.outerwear {
    max-height:350px;
    max-width:300px;
    height:auto;
    width:auto;
}

.sets {
    max-height:400px;
    max-width:300px;
    height:auto;
    width:auto;
}

.annotation_header {
    font-family: 'Lilita One', cursive;
    font-size: 20pt;
    color: #3d332a;
    /* position: sticky;
    top: 50px; */
}

.brand {
    font-family: 'Lilita One', cursive;
    font-size: 16pt;
    color: #3d332a;
}

.item{
    color: #3d332a;
}

.notes{
    color: #3d332a;
    font-style: italic;
}

.swatch {
    width: 90px;
    height: 30px;
    text-align: right;
    padding: 8px 10px 8px 10px;
    font-size: 10pt;
    font-style: italic;
}

.swatch2 {
    width: 90px;
    height: 30px;
    text-align: right;
    padding: 8px 10px 8px 10px;
    font-size: 10pt;
    font-style: italic;
}

/* ERA INFO */

.date_labels {
    grid-area: date_labels;
    width: 100%;
    margin: 0px 30px 50px 100px;
}

.start_date {
    font-size: 20pt;
    color: #0b7c85;
    margin: 0px;
}

.end_date {
    font-size: 60pt;
    font-weight: bold;
    color: #a08875;
    opacity: 0.4;
    margin: 0px 50px;
}

.era_name {
    font-size: 16pt;
    color: #0b7c85;
    font-family: 'Lilita One', cursive;
    margin: 0px 50px;
}

.conclusion {
    margin: 150px 0px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "summary smalls";
}

/* SECOND SCROLLER */
#analysis{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "sections vis";
    height: 90%;
    /* padding-top: 100px; */
  }

.narrative {
    font-size: 15pt;
}

  
#sections{
    margin: 200px 50px 0px 50px;
    padding-bottom: 25vh;
    padding-left: 50px;
    grid-area: sections;
}


#sections > div{
    padding: 5% 10%;
    margin-bottom: 90vh;
}

#sections > div:last-child{
    margin-bottom: 50px;
}

#sections > div.graph-scroll-active{
    opacity: 0.9;
}

#notVintage {
    text-decoration: line-through;
}

#vis {
    height: 80vh;
}


#visContainer{
    /* width: 100%; */
    height: 90vh;
    position: -webkit-sticky;
    position: sticky;
    top:20px;   
    /* margin-left: 0px; */
    /* float: none; */
    /* transform: translate(-50%, 0); */
    position: sticky;
    top: 0px;
    grid-area: vis;
    margin: 30px 45px 30px 0px;
}

pre{
    overflow: hidden;
}

/* SMALL MULTIPLES */

#smalls {
    margin: 20px 50px 20px 0px;
    grid-area: smalls;
}

.summary {
    margin: 200px 50px 0px 50px;
    padding-bottom: 25vh;
    padding-left: 50px;
    grid-area: summary;
}

.totalWorn, .totalItems, .efficiencyP, .wornInfo, .totalVintage {
    font-weight: bold;
}

#tooltip {
    position: absolute;
    text-align: center;
    margin: 10px;
    max-width: 200px;
    height: auto;
    width: auto;
    padding: 5px;
    font-size: 11pt;
    background-color:#3d332a;
    color: #ffffff;
    border: 1px solid #f9ede1;
    border-radius: 3px;
    pointer-events: none;
}

#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0px;
    padding: 0px;
}

/* #analysis_tooltip {
    position: absolute;
    text-align: center;
    margin: 10px;
    max-width: 200px;
    height: auto;
    width: auto;
    padding: 5px;
    font-size: 11pt;
    background-color:#3d332a;
    color: #ffffff;
    border: 1px solid #f9ede1;
    border-radius: 3px;
    pointer-events: none;
} */

#analysis_tooltip {
    border-top: 1px solid #a08875;
}

#analysis_tooltip.hidden {
    display: none;
}

#sections.item {
    font-size: 12pt;
}

/* #analysis_tooltip p {
    margin: 0px;
    padding: 0px;
} */

