@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');

* {
    box-sizing: border-box;
  }

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #f9ede1;
    overflow-y: scroll;
    touch-action: auto;
}

p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

/* INTRODUCTION */

.intro{
    width: 100%;
    margin-bottom: 100px;
}



h1 {
    width: 75%;
    font-size: 60pt;
    font-weight: 300;
    padding-top: 50px;
    margin-bottom: 20px;
}

h2 {
    font-style: italic;
}

.intro p {
    width: 75%;
    padding-top: 20px;
}

/* FIRST SCROLLER */

.library {
    margin-bottom: 40px;
}

#container {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "note_container chart timeline";
    height: 100%;
  }

/* TIMELINE */

.graphic__prose {
    grid-area: timeline;
    height: 350vh;
    margin: 30px 30px 30px 30px;
}

.spine {
    background-color: #a08875;
    height: 100%;
    width: 1px;
    margin-left: 3px;
}

#nyu {
    top: 172vh;
}

#midd_fresh {
    top: 188vh;
}

#london {
    top: 220vh;
}

#midd_sr {
    top: 236vh;
}

#la {
    top: 252vh;
}

#nottingham {
    top: 296vh;
}

#china {
    top: 302vh;
}

#orme {
    top: 332vh;
}

#roslindale {
    top: 380vh;
}

#lawrence {
    top: 396vh;
}

.trigger {
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    border: 2px solid #3d332a;
    text-align: left;
    background-color: #f9ede1;
    border-radius: 4px;
}

.trigger.graph-scroll-active {
    border: 2px solid #0b7c85;
    background-color: #0b7c85;
}

.trigger.graph-scroll-active > .timeline_date {
    color: #0b7c85;
}

.trigger.graph-scroll-active > .timeline_loc {
    color: #0b7c85;
}

.trigger > .timeline_date {
    color: #3d332a;
    font-size: 9pt;
    font-weight: bolder;
    transform: translate(20px,-5px);
}

.trigger > .timeline_loc {
    color: #3d332a;
    font-family: 'Noto Serif', serif;
    font-size: 9pt;
    transform: translate(20px,-7px);
    width: 200px;
}

/* FIRST GRAPH */

#graph {
    grid-area: chart;
    height: 100vh;
    margin: 30px 30px 30px 0px;
    position: -webkit-sticky;
    position: sticky;
    top: 2%;
}

.axis line {
    stroke: #a08875;
}
  
.axis path {
    visibility: hidden;
}

.xaxis line {
    visibility: hidden;
}
  
.xaxis path {
    visibility: hidden;
}

.tick text {
    color: #3d332a;
    font-weight: bolder;
}

.vintageYAxis path {
    visibility: hidden;
}

.vintageYAxis line {
    visibility: hidden;
}

.vintageXAxis path {
    stroke: #a08875;
}

.vintageXAxis > .tick text {
    font-size: 10pt;
    font-weight: lighter
}

.vintageYAxis > .tick text {
    font-size: 10pt;
    font-weight: lighter
}

#miniTitle {
    font-size: 12pt;
    font-weight: bolder;
    color: #3d332a;
}

/* KEY & PROFILES */

.note_container {
    position: fixed;
    height: 95vh;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 2%;
    grid-area: note_container;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3.5fr 0.5fr;
    grid-template-areas: 
        "instructions"    
        "annotation"
        "date_labels";
}

.instructions {
    grid-area: instructions;
    margin-left: 100px;
    border-bottom: 1px solid #a08875;
    width: 90%;
}

.description {
    font-size: 11pt;
}

.annotation {
    grid-area: annotation;
    margin: 0px 30px 20px 100px;
    height: 50vh;
    width: 90%;
    border-bottom: 1px solid #a08875;
    display: grid;
    grid-template-columns: 1fr 2fr; 
    grid-template-rows: 0.75fr 1fr;
    grid-template-areas:
        "image info"
        "image cal";
}

#cal {
    grid-area: cal;
    margin-left: 40px;
}

.heatmapText {
    font-size: 10pt;
}

.annotation_text {
    grid-area: info;
    margin: 0px 50px 10px 50px;
    /* height: 30vh; */
    color: #3d332a;
}

.annotation_image {
    grid-area: image;
    display: block;
    margin: 1em auto;
    width: 325px;
    
}

.bottoms {
    
    max-height:350px;
    max-width:300px;
    height:auto;
    width:auto;
}

.dresses {
    max-height:350px;
    max-width:300px;
    height:auto;
    width:auto;
}

.tops {
    max-height:300px;
    max-width:300px;
    height:auto;
    width:auto;
}

.outerwear {
    max-height:350px;
    max-width:300px;
    height:auto;
    width:auto;
}

.sets {
    max-height:350px;
    max-width:300px;
    height:auto;
    width:auto;
}

.annotation_header {
    font-family: 'Lilita One', cursive;
    font-size: 20pt;
    color: #3d332a;
}

.brand {
    font-family: 'Lilita One', cursive;
    font-size: 16pt;
    color: #3d332a;
}

.item, .date_worn{
    color: #3d332a;
    font-size: 11pt;
}

.notes{
    color: #3d332a;
    font-style: italic;
    font-size: 10pt;
}

.swatch {
    width: 90px;
    height: 30px;
    text-align: right;
    padding: 8px 10px 8px 10px;
    font-size: 10pt;
    font-style: italic;
    margin: 0px;
}

.swatch2 {
    width: 90px;
    height: 30px;
    text-align: right;
    padding: 8px 10px 8px 10px;
    font-size: 10pt;
    font-style: italic;
    margin: 0px;
}

/* ERA INFO */

.date_labels {
    grid-area: date_labels;
    width: 100%;
    margin: 0px 30px 50px 100px;
}

.start_date {
    font-size: 20pt;
    color: #0b7c85;
    margin: 0px;
}

.end_date {
    font-size: 60pt;
    font-weight: bold;
    color: #a08875;
    opacity: 0.4;
    margin: 0px 50px;
}

.era_name {
    font-size: 16pt;
    color: #0b7c85;
    font-family: 'Lilita One', cursive;
    margin: 0px 50px;
}

.conclusion {
    margin: 50px 0px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "summary smalls";
}

#smalls {
    margin: 20px 20px 20px 0px;
    padding-top: 50px;
    height: 90vh;
    grid-area: smalls;
}

.summary {
    margin: 20px 50px 20px 50px;
    padding: 0px 50px 25px 50px;
    grid-area: summary;
    border-right: 1px solid #a08875;
    font-size: 13pt;
}

.summary_part {
    border-bottom: 1px solid #a08875;
}

button {
    
    margin: 5px 10px 5px 0px;
    background-color: #f9ede1;
    border: 1px solid #0b7c85;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    color: #0b7c85;
    text-align: center;
    padding: 5px 10px;
    border-radius: 2px; 
    display: inline-block;

  }

button:hover {
    background-color: #0b7c85;
    color: #f9ede1;
}

button:focus {
    background-color: #0b7c85;
    color: #f9ede1;
    outline:0;
}

.capsule_cont{
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bolder;
    color: #0b7c85;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .capsule_cont input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #f9ede1;
    border: 1px solid #0b7c85;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .capsule_cont:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .capsule_cont input:checked ~ .checkmark {
    background-color: #0b7c85;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .capsule_cont input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .capsule_cont .checkmark:after {
      top: 5px;
      left: 5px;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: #f9ede1;
  }

/* SECOND SCROLLER */
#analysis{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "sections vis";
    height: 90%;
    /* padding-top: 100px; */
  }

/* .narrative {
    font-size: 15pt;
} */

  
#sections{
    margin: 200px 1vw 0px 1vw;
    padding-bottom: 25vh;
    padding-left: 1vw;
    grid-area: sections;
}


#sections > div{
    padding: 5% 10%;
    margin-bottom: 60vh;
}

#sections > div:last-child{
    margin-bottom: 50vh;
}

#sections > div.graph-scroll-active{
    opacity: 0.9;
}

#notVintage {
    text-decoration: line-through;
}

#vis {
    height: 85vh;
    width: 100%;
}


#visContainer{
    /* width: 100%; */
    height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top:20px;   
    /* margin-left: 0px; */
    /* float: none; */
    /* transform: translate(-50%, 0); */
    position: sticky;
    top: 0px;
    grid-area: vis;
    margin: 30px 45px 20px 0px;
}

pre{
    overflow: hidden;
}

/* SMALL MULTIPLES */

.totalWorn, .totalUnworn, .initialDiscards, .totalItems, .efficiencyP, .wornInfo, .totalVintage {
    font-weight: bold;
}

#tooltip {
    position: absolute;
    /* text-align: center; */
    margin: 10px;
    max-width: 200px;
    height: auto;
    width: auto;
    padding: 10px;
    font-size: 11pt;
    background-color:#f9ede1;
    color: #3d332a;
    border: 2px solid #3d332a;
    border-radius: 3px;
    pointer-events: none;
}

#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0px;
    padding: 0px;
}

#analysis_tooltip {
    position: absolute;
    /* margin: 20px; */
    /* max-width: 200px; */
    height: auto;
    width: 200px;
    padding: 10px 20px;
    font-size: 11pt;
    background-color:#f9ede1;
    color: #ffffff;
    
    /* border: 1px solid #f9ede1; */
    border-radius: 3px;
    pointer-events: none;
}

/* #analysis_tooltip {
    border-top: 1px solid #a08875;
} */

#tooltip_image {
    grid-area: image;
    display: block;
    margin: 1em auto;
}

.bottoms_sm {
    
    max-height:175px;
    max-width:150px;
    height:auto;
    width:auto;
}

.dresses_sm {
    max-height:175px;
    max-width:150px;
    height:auto;
    width:auto;
}

.tops_sm {
    max-height:150px;
    max-width:150px;
    height:auto;
    width:auto;
}

.outerwear_sm {
    max-height:175px;
    max-width:150px;
    height:auto;
    width:auto;
}

.sets_sm {
    max-height:200px;
    max-width:150px;
    height:auto;
    width:auto;
}

#analysis_tooltip.hidden {
    display: none;
}

#sections.item {
    font-size: 12pt;
}

#analysis_tooltip p {
    margin: 0px;
    padding: 0px;
}


@media (max-width: 1400px) {
    .intro {
        width: 1170px;
        margin-left: 100px;
        padding-top: 100px;
    }

    #container {
        display: grid;
        grid-template-columns: 2fr 2fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "note_container chart timeline";
        height: 100%;
      }

    .note_container {
        width: 500px;
    }

    .instructions {
        margin-left: 50px;
        width: 500px;
    }

    #cal {
        margin-left: 0px;
    }

    .annotation {
        margin: 0px 30px 10px 50px;
        padding-bottom: 10px;
        width: 500px;
        grid-template-columns: 1fr 1fr;
    }

    .annotation_header {
        font-size: 15pt;
    }

    .annotation_image {
        width: 225px;
    }

    .annotation_text {
        margin: 0px 20px 10px 20px;
        width: 225px;
    }

    .date_labels {
        margin: 0px 30px 50px 50px;
        width: 500px;
    }

    .end_date {
        font-size: 32pt;
    }

    .bottoms, .dresses, .tops, .outerwear, .sets  {
        max-width:200px;
        max-height: 250px;
    }

    #graph {
        margin: 30px 10px 30px 0px;
    }

    /* #analysis{
        position: relative;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "sections vis";
        height: 90%;
        padding-top: 100px;
      } */
    

    /* #vis {
        width: 1000px;
    } */
    .summary {
        margin: 100px 10px 20px 10px;
        padding: 0px 10px 25px 10px;
        font-size: 11pt;
    }
    #sections{
        margin: 200px 50px 0px 10px;
        font-size: 12pt;
        padding-left: 10px;
    }
    #sections > div{
        padding: 10px;
    }
    }
@media (max-width: 992px){
    .intro  {
        width: 970px;
        margin-left: 100px;
        padding-top: 100px;
    }

    #container {
        display: grid;
        grid-template-columns: 1.5fr 2fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "note_container chart timeline";
        height: 100%;
      }

    #graph {
        margin: 30px 0px 30px 0px;
    }

    .instructions {
        margin-left: 30px;
    }

    .annotation {
        margin: 0px 30px 10px 30px;
        padding-bottom: 10px;
    }

    .date_labels {
        margin: 0px 30px 50px 30px;
    }

    .end_date {
        font-size: 30pt;
    }


    /* #vis {
        width: 850px;
    } */
    .summary {
        margin: 150px 10px 20px 10px;
        padding: 0px 10px 25px 10px;
        font-size: 10pt;
    }
    #sections{
        margin: 200px 50px 0px 10px;
        font-size: 12pt;
        padding-left: 5px;
    }
    #sections > div{
        padding: 10px;
    }
    }
@media (max-width: 768px) {
    .intro {
        width: 750px;
        margin-left: 100px;
        padding-top: 100px;
    }
    /* #vis {
        width: 600px;
    } */
    .summary {
        margin: 200px 10px 20px 10px;
        padding: 0px 10px 25px 10px;
        font-size: 9pt;
    }
    #sections{
        margin: 200px 50px 0px 10px;
        font-size: 12pt;
        padding-left: 5px;
    }
    #sections > div{
        padding: 10px;
    }
    }

