@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0px;
  padding: 0px;
  background-color: #FFF8F6;
  color: #443730;
}

#intro, #conclusion {
  padding: 15vh 30%;
  font-family: 'Volkhov', serif;
  color: #1F1F89;
}


p {
  font-size: 16pt;
  line-height: 150%;
  padding-left: 10%;
  padding-right: 10%;
}

#credits, #byline {
  font-size: 12pt;
  text-align: center;
  padding-bottom: 5vh;
}

a {
  color: #1F1F89;
}


h1 {
  font-size: 60pt;
  text-align: center;
  padding-bottom: 10vh;
}

#chart {
  width: 100%;
  height: 100vh;
}

.axisLabel {
  font-family: 'Nunito', sans-serif;
  font-size: 16pt;
  font-weight: lighter;
}

.axis {
  font-family: 'Nunito', sans-serif;
  font-size: 14pt;
}

.axis line {
  stroke: #443730;
  opacity: 0.2;
}

.axis path {
  visibility: hidden;
}

.sideLabels {
  font-family: 'Nunito', sans-serif;
  font-size: 12pt;
  font-weight: bolder;
  color: #1F1F89;
}
