* {
  box-sizing: border-box;
}

html, body {
  margin: 0px;
  padding: 0px;
}

#chart {
  width: 60%;
  height: 100vh;
}

.axisLabel {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14pt;
}

.axis {
  font-size: 9pt;
}
