* {
    box-sizing: border-box;
  }
  
html, body {
margin: 0px;
padding: 0px;
height: 100vh;
font-family: "Gill Sans",'Arial Narrow', sans-serif;
}

h2 {
font-size: 24pt;
font-weight: normal;
padding-left: 3em;
padding-bottom: 20px;
padding-top: 10px;
margin: 0px;
background-color: #0c172a;
color: #FFFFFF;
}

p {
    margin: 0px;
    padding-left: 40px;
    padding-bottom: 20px;
    color: #0c172a;
}

.projectTitle {
    font-size: 1.35em;
    margin: 0 0 1em 0;
}

a {
color: #0c172a;
text-decoration: none;
}

section {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-color: #FFFFFF;;
  }

.inner {
    margin: 0 auto;
    max-width: 100%;
    width: 65em;
    text-align: left;
}
  
section > .image {
    border-radius: 0;
    display: block;
    position: relative;
    width: 40%;
}

section > .image img {
    border-radius: 0;
    display: block;
    width: 100%;
}

section > .content {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    padding: 2em 3em 0.1em 3em ;
    width: 60%;
}

section:nth-child(2n) {
    -moz-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

section:nth-child(2n) > .content {
    -moz-align-items: -moz-flex-end;
    -webkit-align-items: -webkit-flex-end;
    -ms-align-items: -ms-flex-end;
    align-items: flex-end;
    background-color: #0c172a;
    color: #FFFFFF;
}

section:nth-child(2n) > .content p {
    color: #FFFFFF;
}
    







  
  