@font-face {
    font-family: 'Menlo';
    src: url('fonts/Menlo-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

  @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    background-color: #023;
    color: #fff;
}

h1 {
    font-size: 60pt;
    font-family: 'Menlo', Consolas, Monaco,'Courier New', monospace;
    text-align: center;
}

p {
    font-size: 14pt;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    line-height: 150%;
}

#byline {
    font-size: 12pt;
    text-align: center;
    padding-bottom: 5vh;
}

#intro {
    padding: 15vh 30%;
}

#section1 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tooltip2 {
  grid-area: tooltip2;
  margin-left: 10%;
  padding-right: 40px;
  font-size: 12pt;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  line-height: 150%;
}

#secondaryContainer {
  margin: 0 8vh;
  display: grid;
  grid-template-columns: 2fr 6fr;
  grid-template-rows: 3fr 1fr;
  grid-template-areas:
    "info chart"
    "tooltip2 chart"
}

.infoText {
  margin-left: 10%;
  padding-right: 40px;
  padding-top: 15%;
  grid-area: info;
}

#chart {
  width: 100%;
  height: 90vh;
  vertical-align: middle;
  grid-area: chart;
}

.section1top {
    margin: 0;
    padding: 0 30%;
    font-size: 18pt;
}

.leadup {
  padding: 0 30%;
  font-size: 18pt;
  text-align: center;
}

#chartExplanation {
  grid-area: explanation;
}

#chordContainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 95vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 4fr 1fr;
    grid-template-areas:
      "explanation chord"
      "tooltip chord" 
}

#chord {
    grid-area: chord;
}

.tooltip {
  grid-area: tooltip;
  font-size: 12pt;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  line-height: 150%;
}

.axis line {
  stroke: #ffffff;
}

.axis path {
  stroke: #ffffff;
}

.axis text {
  fill: #ffffff;
}  

.axisLabel {
  fill: #ffffff;
  font-size: 12pt;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

.legendTexts {
  fill: #ffffff;
  font-size: 10pt;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

.legendTitle {
  fill: #ffffff;
  font-size: 12pt;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

.chordTitle {
  fill: #ffffff;
  font-size: 15pt;
  font-family: 'Roboto', sans-serif;
}