@font-face {
    font-family: 'Menlo';
    src: url('fonts/Menlo-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

  @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    background-color: #023;
    color: #fff;
}

h1 {
    font-size: 60pt;
    font-family: 'Menlo', Consolas, Monaco,'Courier New', monospace;
    text-align: center;
}

p {
    font-size: 14pt;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    line-height: 150%;
}

#byline {
    font-size: 12pt;
    text-align: center;
    padding-bottom: 5vh;
}

#intro {
    padding: 15vh 65vh;
    color: #fff;
}

#chart {
    text-align: center;
    padding: 15vh 40vh;
}