@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0px;
  padding: 0px;
  background-color: #efe8e6;
  font-family: 'Roboto Mono', monospace;
}

button {
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  margin: 5px;
  background-color: #efe8e6;
  border: 1px solid #808080;
  font-size: 12pt;
  color: #565656;
  text-align: center;
  padding: 5px 20px;
  display: inline-block;
}

button:hover {
  background-color: #808080;
  color: #efe8e6;
}

button:focus {
  background-color: #808080;
  color: #efe8e6;
  outline:0;
}

button.active {
  background-color: #808080;
  color: #efe8e6;
  outline:0;
}

#container {
  width: 100%;
  max-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
        "tree main";
}

#chart {
  height: 90vh;
  grid-area: main;
}

#tree {
  height: 100vh;
  grid-area: tree;
}

.axisLabel {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16pt;
  font-weight: bold;
}

.axis {
  font-size: 12pt;
}
