* {
  box-sizing: border-box;
}

html, body {
  margin: 0px;
  padding: 0px;
  font-family: "Futura Std",'Arial Narrow', sans-serif;
}

p {
  font-size: 14pt;
}

/* INTRO */
#titleText {
  font-family: "Futura", Arial, sans-serif;
  grid-area: title;
  margin: 0px;
  padding-left: 10px;
}

#maintitle {
  font-size: 75pt;
  margin-bottom: 0px; 
}

h3 {
  margin-left: 5%;
  margin-top: 20px;
  padding-left: 5px;
  font-size: 36pt;
}

#titlePic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: auto;
  grid-area: titlePic;
}

#korean {
  grid-area: korean;
  margin-top: 20px;
  display: block;
}

#titleContainer { 
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "titlePic korean"
    "titlePic title"
} 

h1 {
  font-weight: lighter;
  font-size: 36pt;
  margin-left: 5%;
  margin-top: 1rem;
}

h2 {
  margin: 10%;
  padding: 10px 10px 10px 10px;
  font-size: 40pt;
  font-weight: lighter;
}

/* DASHBOARD */
#upper {
  background-color: rgba(255, 255, 255, 0.3);
  height: 5rem;
  grid-area: upper;
}

#lower {
  background-color: rgba(255, 255, 255, 0.6);
  height: 9rem;
  grid-area: lower;
}

#dashboard {
  opacity: 0;
  margin-left: 75%;
  width: 18%;
  position: fixed;
  top: 10%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    "upper"
    "lower"
    "lower"
}

.dashText {
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 10px;
  margin-bottom: 0px;
  margin-right: 0px;
}

#timeToEat {
  padding-left: 15px;
  padding-top: 15px;
  font-size: 30pt;
  margin: 0px;
}

/* RECIPE SECTION FORMATTING */

.carrots {
  color: #DC6626;
}

#carrots {
  grid-area: carrots;
  background-color: #F8AC67;
}

.cucumbers {
  color: #2F5B2C;
}

#cucumbers {
  grid-area: cucumbers;
  background-color: #ADD7A2;
}

.beef {
  color: #3F280F;
}

#beef {
  grid-area: beef;
  background-color: #5D3C15;
  color: #F3DDC0;
}

.rice {
  color: #5D3C15;
}

#rice {
  grid-area: rice;
  background-color: #F3DDC0;
}

.sauce {
  color: #AA3222;
}

#sauce {
  grid-area: sauce;
  background-color: #CC4128;
  color: #F3DDC0;
}

.spinach {
  color: #2F5B2C;
}

#spinach {
  grid-area: spinach;
  background-color: #2F5B2C;
  color: #ADD7A2;
}

.mushrooms {
  color: #5D3C15;
}

#mushrooms {
  grid-area: mushrooms;
  background-color: #AE977A;
}

.egg {
  color: #A4772B;
}

#egg {
  grid-area: egg;
  background-color: #F6C75E;
}

.combine {
  grid-area: combine;
  background-color: #FFFFFF;
}

#recipe {
  width: 100%;
  height: 2030vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 4fr 4fr 2fr 2fr 4fr 2fr 1fr 1fr;
  grid-template-areas:
    "carrots"
    "cucumbers"
    "beef"
    "rice"
    "sauce"
    "spinach"
    "mushrooms"
    "egg"
    "combine"
}

.ingredientContainer {
  margin-left: 7%;
  width: 65%;
}

.number {
  font-size: 160pt;
}

.sectionTitleContainer {
  margin: 0;
  width: 75%;
  position: -webkit-sticky;
  position: sticky;
  top: 10%;
}

/* INDIVIDUAL RECIPE ELEMENTS */

/* CARROTS & RADISHES */

#carrotTitleContainer {
  background-color: #F8AC67;
}

#carrotContainer {
  height: 300vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 4fr 4fr 4fr;
  grid-template-areas: 
    "firstCarrot firstCarrot"
    "secondCarrot thirdCarrot"
    "fourthCarrot fifthCarrot"
    "sixthCarrot seventhCarrot"
}

#firstCarrot {
  height: 50vh;
  grid-area: firstCarrot;
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "carrotOne firstCarrotPic"
    "carrotOne firstCarrotText"
}

#carrotOne {
  vertical-align: middle;
  grid-area: carrotOne;
}

#firstCarrotPic {
  grid-area: firstCarrotPic;
}

#firstCarrotText {
  padding-left: 10px;
  grid-area: firstCarrotText;
}

#secondCarrot {
  height: 80vh;
  grid-area: secondCarrot;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
    "carrotTwo secondCarrotPic"
    "secondCarrotText secondCarrotPic"
}

#carrotTwo {
  grid-area: carrotTwo;
  padding-left: 10px;
}

#secondCarrotText {
  padding-left: 10px;
  grid-area: secondCarrotText;
}

#secondCarrotPic {
  padding-top: 30px;
  padding-left: 20px;
  grid-area: secondCarrotPic;
}

#thirdCarrot {
  grid-area: thirdCarrot;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
    "carrotThree thirdCarrotPic"
    "thirdCarrotText thirdCarrotPic"
}

#carrotThree {
  grid-area: carrotThree;
}

#thirdCarrotText {
  padding-left: 10px;
  grid-area: thirdCarrotText;
}

#thirdCarrotPic {
  padding-top: 30px;
  padding-left: 20px;
  grid-area: thirdCarrotPic;
}

#fourthCarrot {
  grid-area: fourthCarrot;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
    "carrotFour fourthCarrotPic"
    "fourthCarrotText fourthCarrotPic"
}

#carrotFour {
  grid-area: carrotFour;
}

#fourthCarrotText {
  padding-left: 10px;
  grid-area: fourthCarrotText;
}

#fourthCarrotPic {
  padding-top: 40px;
  padding-left: 20px;
  grid-area: fourthCarrotPic;
}

#fifthCarrot {
  grid-area: fifthCarrot;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
    "carrotFive fifthCarrotPic"
    "fifthCarrotText fifthCarrotPic"
}

#carrotFive {
  grid-area: carrotFive;
}

#fifthCarrotText {
  padding-left: 10px;
  grid-area: fifthCarrotText;
}

#fifthCarrotPic {
  padding-top: 30px;
  padding-left: 20px;
  grid-area: fifthCarrotPic;
}

#sixthCarrot {
  grid-area: sixthCarrot;
  height: 60vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
    "carrotSix sixthCarrotPic"
    "sixthCarrotText sixthCarrotPic"
}

#carrotSix {
  grid-area: carrotSix;
}

#sixthCarrotText {
  padding-left: 10px;
  grid-area: sixthCarrotText;
}

#sixthCarrotPic {
  padding-top: 30px;
  padding-left: 20px;
  grid-area: sixthCarrotPic;
}

#seventhCarrot {
  grid-area: seventhCarrot;
  height: 60vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
    "carrotSeven seventhCarrotPic"
    "seventhCarrotText seventhCarrotPic"
}

#carrotSeven {
  grid-area: carrotSeven;
}

#seventhCarrotText {
  padding-left: 10px;
  grid-area: seventhCarrotText;
}

#seventhCarrotPic {
  padding-top: 30px;
  padding-left: 20px;
  grid-area: seventhCarrotPic;
}

/* CUCUMBERS */

#cucumberTitleContainer {
  background-color: #ADD7A2;
}

#cucumberContainer {
  height: 300vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 4fr 4fr 4fr;
  grid-template-areas: 
    "firstCucumber firstCucumber"
    "secondCucumber thirdCucumber"
    "fourthCucumber fifthCucumber"
    "sixthCucumber seventhCucumber"
}

#firstCucumber {
  height: 50vh;
  grid-area: firstCucumber;
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "cucumberOne firstCucumberPic"
    "cucumberOne firstCucumberText"
}

#cucumberOne {
  vertical-align: middle;
  grid-area: cucumberOne;
}

#firstCucumberPic {
  grid-area: firstCucumberPic;
}

#firstCucumberText {
  padding-left: 10px;
  grid-area: firstCucumberText;
}

#secondCucumber {
  height: 80vh;
  grid-area: secondCucumber;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
    "cucumberTwo secondCucumberPic"
    "secondCucumberText secondCucumberPic"
}

#cucumberTwo {
  grid-area: cucumberTwo;
  padding-left: 10px;
}

#secondCucumberText {
  padding-left: 10px;
  grid-area: secondCucumberText;
}

#secondCucumberPic {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  grid-area: secondCucumberPic;
}

#thirdCucumber {
  grid-area: thirdCucumber;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
    "cucumberThree thirdCucumberPic"
    "thirdCucumberText thirdCucumberPic"
}

#cucumberThree {
  grid-area: cucumberThree;
  padding-left: 20px;
}

#thirdCucumberText {
  padding-left: 20px;
  grid-area: thirdCucumberText;
}

#thirdCucumberPic {
  padding-top: 30px;
  padding-left: 20px;
  grid-area: thirdCucumberPic;
}

#fourthCucumber {
  grid-area: fourthCucumber;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
    "cucumberFour fourthCucumberPic"
    "fourthCucumberText fourthCucumberPic"
}

#cucumberFour {
  grid-area: cucumberFour;
}

#fourthCucumberText {
  padding-left: 10px;
  grid-area: fourthCucumberText;
}

#fourthCucumberPic {
  padding-top: 40px;
  padding-left: 20px;
  grid-area: fourthCucumberPic;
}

#fifthCucumber {
  grid-area: fifthCucumber;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
    "cucumberFive fifthCucumberPic"
    "fifthCucumberText fifthCucumberPic"
}

#cucumberFive {
  grid-area: cucumberFive;
}

#fifthCucumberText {
  padding-left: 10px;
  grid-area: fifthCucumberText;
}

#fifthCucumberPic {
  padding-top: 30px;
  padding-left: 20px;
  grid-area: fifthCucumberPic;
}

#sixthCucumber {
  grid-area: sixthCucumber;
  height: 60vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
    "cucumberSix sixthCucumberPic"
    "sixthCucumberText sixthCucumberPic"
}

#cucumberSix {
  grid-area: cucumberSix;
}

#sixthCucumberText {
  padding-left: 10px;
  grid-area: sixthCucumberText;
}

#sixthCucumberPic {
  padding-top: 30px;
  padding-left: 20px;
  grid-area: sixthCucumberPic;
}

#seventhCucumber {
  grid-area: seventhCucumber;
  height: 60vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
    "cucumberSeven seventhCucumberPic"
    "seventhCucumberText seventhCucumberPic"
}

#cucumberSeven {
  grid-area: cucumberSeven;
}

#seventhCucumberText {
  padding-left: 10px;
  grid-area: seventhCucumberText;
}

#seventhCucumberPic {
  padding-top: 30px;
  padding-left: 20px;
  grid-area: seventhCucumberPic;
}

/* BEEF */

#beefTitleContainer {
  background-color: #5D3C15;
}

#beefContainer {
  height: 280vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr 1fr;
  grid-template-areas: 
    "firstBeef firstBeef"
    "secondBeef secondBeef"
    "thirdBeef fourthBeef"
    "fifthBeef sixthBeef"
}

#firstBeef {
  height: 50vh;
  grid-area: firstBeef;
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "beefOne firstBeefPic"
    "beefOne firstBeefText"
}

#beefOne {
  vertical-align: middle;
  grid-area: beefOne;
}

#firstBeefPic {
  grid-area: firstBeefPic;
}

#firstBeefText {
  padding-left: 10px;
  grid-area: firstBeefText;
}

#secondBeef {
  height: 60vh;
  grid-area: secondBeef;
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: 3fr 1fr;
  grid-template-areas: 
    "beefTwo secondBeefPic"
    "secondBeefText secondBeefText"
}

#beefTwo {
  vertical-align: middle;
  grid-area: beefTwo;
}

#secondBeefPic {
  grid-area: secondBeefPic;
  padding-left: 20px;
}

#secondBeefText {
  padding-left: 10px;
  grid-area: secondBeefText;
}

#thirdBeef {
  height: 80vh;
  grid-area: thirdBeef;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
    "beefThree thirdBeefPic"
    "thirdBeefText thirdBeefPic"
}

#beefThree {
  grid-area: beefThree;
  padding-left: 10px;
}

#thirdBeefText {
  padding-left: 10px;
  grid-area: thirdBeefText;
}

#thirdBeefPic {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  grid-area: thirdBeefPic;
}

#fourthBeef {
  grid-area: fourthBeef;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
    "beefFour fourthBeefPic"
    "fourthBeefText fourthBeefPic"
}

#beefFour {
  grid-area: beefFour;
  padding-left: 20px;
}

#fourthBeefText {
  padding-left: 20px;
  grid-area: fourthBeefText;
}

#fourthBeefPic {
  padding-top: 30px;
  padding-left: 20px;
  grid-area: fourthBeefPic;
}

#fifthBeef {
  height: 80vh;
  grid-area: fifthBeef;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
    "beefFive fifthBeefPic"
    "fifthBeefText fifthBeefPic"
}

#beefFive {
  grid-area: beefFive;
  padding-left: 10px;
}

#fifthBeefText {
  padding-left: 10px;
  grid-area: fifthBeefText;
}

#fifthBeefPic {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  grid-area: fifthBeefPic;
}

#sixthBeef {
  grid-area: sixthBeef;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
    "beefSix sixthBeefPic"
    "sixthBeefText sixthBeefPic"
}

#beefSix {
  grid-area: beefSix;
  padding-left: 20px;
}

#sixthBeefText {
  padding-left: 20px;
  grid-area: sixthBeefText;
}

#sixthBeefPic {
  padding-top: 30px;
  padding-left: 20px;
  grid-area: sixthBeefPic;
}

/* RICE */

#riceTitleContainer {
  background-color: #F3DDC0;
}

#riceContainer {
  height: 150vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "firstRice firstRice"
    "secondRice thirdRice"
}

#firstRice {
  height: 50vh;
  grid-area: firstRice;
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "riceOne firstRicePic"
    "firstRiceText firstRiceText"
}

#riceOne {
  vertical-align: middle;
  grid-area: riceOne;
}

#firstRicePic {
  grid-area: firstRicePic;
}

#firstRiceText {
  padding-left: 10px;
  grid-area: firstRiceText;
}

#secondRice {
  height: 90vh;
  grid-area: secondRice;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
    "riceTwo secondRicePic"
    "secondRiceText secondRicePic"
}

#riceTwo {
  grid-area: riceTwo;
  padding-left: 10px;
}

#secondRiceText {
  padding-left: 10px;
  grid-area: secondRiceText;
}

#secondRicePic {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  grid-area: secondRicePic;
}

#thirdRice {
  grid-area: thirdRice;
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
    "riceThree thirdRicePic"
    "thirdRiceText thirdRicePic"
}

#riceThree {
  grid-area: riceThree;
  padding-left: 20px;
}

#thirdRiceText {
  padding-left: 20px;
  grid-area: thirdRiceText;
}

#thirdRicePic {
  padding-top: 30px;
  padding-left: 20px;
  grid-area: thirdRicePic;
}

/* SAUCE */

#sauceTitleContainer {
  background-color: #CC4128;
}

#sauceContainer {
  height: 180vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    "firstSauce firstSauce"
    "secondSauce secondSauce"
    "thirdSauce ."
}

#firstSauce {
  height: 50vh;
  grid-area: firstSauce;
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "sauceOne firstSaucePic"
    "sauceOne firstSauceText"
}

#sauceOne {
  vertical-align: middle;
  grid-area: sauceOne;
}

#firstSaucePic {
  grid-area: firstSaucePic;
}

#firstSauceText {
  padding-left: 10px;
  grid-area: firstSauceText;
}

#secondSauce {
  height: 60vh;
  grid-area: secondSauce;
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: 3fr 1fr;
  grid-template-areas: 
    "sauceTwo secondSaucePic"
    "secondSauceText secondSauceText"
}

#sauceTwo {
  vertical-align: middle;
  grid-area: sauceTwo;
}

#secondSaucePic {
  grid-area: secondSaucePic;
  padding-left: 20px;
}

#secondSauceText {
  padding-left: 10px;
  grid-area: secondSauceText;
}

#thirdSauce {
  height: 90vh;
  grid-area: thirdSauce;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
    "sauceThree thirdSaucePic"
    "thirdSauceText thirdSaucePic"
}

#sauceThree {
  grid-area: sauceThree;
  padding-left: 10px;
}

#thirdSauceText {
  padding-left: 10px;
  grid-area: thirdSauceText;
}

#thirdSaucePic {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  grid-area: thirdSaucePic;
}

/* SPINACH */

#spinachTitleContainer {
  background-color: #2F5B2C;
}

#spinachContainer {
  height: 400vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 2fr 1fr;
  grid-template-areas: 
    "firstSpinach secondSpinach"
    "thirdSpinach fourthSpinach"
    "fifthSpinach fifthSpinach"
    "sixthSpinach sixthSpinach"
    "seventhSpinach seventhSpinach"
    "eighthSpinach ."
}

#firstSpinach {
  height: 80vh;
  grid-area: firstSpinach;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
    "spinachOne firstSpinachPic"
    "firstSpinachText firstSpinachPic"
}

#spinachOne {
  grid-area: spinachOne;
  padding-left: 10px;
}

#firstSpinachText {
  padding-left: 10px;
  grid-area: firstSpinachText;
}

#firstSpinachPic {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  grid-area: firstSpinachPic;
}

#secondSpinach {
  grid-area: secondSpinach;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
    "spinachTwo secondSpinachPic"
    "secondSpinachText secondSpinachPic"
}

#spinachTwo {
  grid-area: spinachTwo;
  padding-left: 20px;
}

#secondSpinachText {
  padding-left: 20px;
  grid-area: secondSpinachText;
}

#secondSpinachPic {
  padding-top: 30px;
  padding-left: 20px;
  grid-area: secondSpinachPic;
}

#thirdSpinach {
  height: 80vh;
  grid-area: thirdSpinach;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
    "spinachThree thirdSpinachPic"
    "thirdSpinachText thirdSpinachPic"
}

#spinachThree {
  grid-area: spinachThree;
  padding-left: 10px;
}

#thirdSpinachText {
  padding-left: 10px;
  grid-area: thirdSpinachText;
}

#thirdSpinachPic {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  grid-area: thirdSpinachPic;
}

#fourthSpinach {
  grid-area: fourthSpinach;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
    "spinachFour fourthSpinachPic"
    "fourthSpinachText fourthSpinachPic"
}

#spinachFour {
  grid-area: spinachFour;
  padding-left: 20px;
}

#fourthSpinachText {
  padding-left: 20px;
  grid-area: fourthSpinachText;
}

#fourthSpinachPic {
  padding-top: 30px;
  padding-left: 20px;
  grid-area: fourthSpinachPic;
}

#fifthSpinach {
  height: 50vh;
  grid-area: fifthSpinach;
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "spinachFive fifthSpinachPic"
    "spinachFive fifthSpinachText"
}

#spinachFive {
  vertical-align: middle;
  grid-area: spinachFive;
}

#fifthSpinachPic {
  grid-area: fifthSpinachPic;
}

#fifthSpinachText {
  padding-left: 10px;
  grid-area: fifthSpinachText;
}

#sixthSpinach {
  height: 50vh;
  grid-area: sixthSpinach;
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "spinachSix sixthSpinachPic"
    "spinachSix sixthSpinachText"
}

#spinachSix {
  vertical-align: middle;
  grid-area: spinachSix;
}

#sixthSpinachPic {
  grid-area: sixthSpinachPic;
}

#sixthSpinachText {
  padding-left: 10px;
  grid-area: sixthSpinachText;
}

#seventhSpinach {
  height: 60vh;
  grid-area: seventhSpinach;
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: 3fr 1fr;
  grid-template-areas: 
    "spinachSeven seventhSpinachPic"
    "seventhSpinachText seventhSpinachText"
}

#spinachSeven {
  vertical-align: middle;
  grid-area: spinachSeven;
}

#seventhSpinachPic {
  grid-area: seventhSpinachPic;
  padding-left: 20px;
}

#seventhSpinachText {
  padding-left: 10px;
  grid-area: seventhSpinachText;
}

#eighthSpinach {
  height: 80vh;
  grid-area: eighthSpinach;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
    "spinachEight eighthSpinachPic"
    "eighthSpinachText eighthSpinachPic"
}

#spinachEight {
  grid-area: spinachEight;
  padding-left: 10px;
}

#eighthSpinachText {
  padding-left: 10px;
  grid-area: eighthSpinachText;
}

#eighthSpinachPic {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  grid-area: eighthSpinachPic;
}

/* MUSHROOMS */

#mushroomTitleContainer {
  background-color: #AE977A;
}

#mushroomContainer {
  height: 180vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-areas: 
    "firstMushroom firstMushroom"
    "secondMushroom thirdMushroom"
    "fourthMushroom ."
}

#firstMushroom {
  height: 50vh;
  width: 60%;
  grid-area: firstMushroom;
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "mushroomOne firstMushroomPic"
    "mushroomOne firstMushroomText"
}

#mushroomOne {
  vertical-align: middle;
  grid-area: mushroomOne;
}

#firstMushroomPic {
  grid-area: firstMushroomPic;
}

#firstMushroomText {
  padding-left: 10px;
  grid-area: firstMushroomText;
}

#secondMushroom {
  height: 60vh;
  width: 30%;
  grid-area: secondMushroom;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
    "mushroomTwo secondMushroomPic"
    "secondMushroomText secondMushroomPic"
}

#mushroomTwo {
  grid-area: mushroomTwo;
  padding-left: 10px;
}

#secondMushroomText {
  padding-left: 10px;
  grid-area: secondMushroomText;
}

#secondMushroomPic {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  grid-area: secondMushroomPic;
}

#thirdMushroom {
  grid-area: thirdMushroom;
  height: 60vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
    "mushroomThree thirdMushroomPic"
    "thirdMushroomText thirdMushroomPic"
}

#mushroomThree {
  grid-area: mushroomThree;
  padding-left: 20px;
}

#thirdMushroomText {
  padding-left: 20px;
  grid-area: thirdMushroomText;
}

#thirdMushroomPic {
  padding-top: 30px;
  padding-left: 20px;
  grid-area: thirdMushroomPic;
}

#fourthMushroom {
  height: 60vh;
  grid-area: fourthMushroom;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
    "mushroomFour fourthMushroomPic"
    "fourthMushroomText fourthMushroomPic"
}

#mushroomFour {
  grid-area: mushroomFour;
  padding-left: 10px;
}

#fourthMushroomText {
  padding-left: 10px;
  grid-area: fourthMushroomText;
}

#fourthMushroomPic {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  grid-area: fourthMushroomPic;
}

/* EGG */

#eggTitleContainer {
  background-color: #F6C75E;
}

#eggContainer {
  height: 140vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "firstEgg secondEgg"
    "thirdEgg ."
}

#firstEgg {
  height: 80vh;
  grid-area: firstEgg;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
    "eggOne firstEggPic"
    "firstEggText firstEggPic"
}

#eggOne {
  grid-area: eggOne;
  padding-left: 10px;
}

#firstEggText {
  padding-left: 10px;
  grid-area: firstEggText;
}

#firstEggPic {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  grid-area: firstEggPic;
}

#secondEgg {
  grid-area: secondEgg;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
    "eggTwo secondEggPic"
    "secondEggText secondEggPic"
}

#eggTwo {
  grid-area: eggTwo;
  padding-left: 20px;
}

#secondEggText {
  padding-left: 20px;
  grid-area: secondEggText;
}

#secondEggPic {
  padding-top: 30px;
  padding-left: 20px;
  grid-area: secondEggPic;
}

#thirdEgg {
  height: 60vh;
  grid-area: thirdEgg;
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: 3fr 1fr;
  grid-template-areas: 
    "eggThree thirdEggPic"
    "thirdEggText thirdEggText"
}

#eggThree {
  vertical-align: middle;
  grid-area: eggThree;
}

#thirdEgg {
  grid-area: thirdEggPic;
  padding-left: 20px;
}

#thirdEggText {
  padding-left: 10px;
  grid-area: thirdEggText;
}

/* COMBINE */

#combineTitleContainer {
  background-color: #FFFFFF;
}

#combineContainer {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "firstEgg secondEgg"
    "thirdEgg ."
}



