* {
  box-sizing: border-box;
}

html, body {
  margin: 0px;
  padding: 0px;
  font-family: "Futura Std",'Arial Narrow', sans-serif;
}

p {
  font-size: 16pt;
}

/* INTRO */
#titleText {
  font-family: "Futura", Arial, sans-serif;
  grid-area: title;
  margin: 0px;
  padding-left: 10px;
}

#maintitle {
  font-size: 75pt;
  margin-bottom: 0px; 
  /*display: block;*/
}

h3 {
  margin-left: 5%;
  margin-top: 20px;
  padding-left: 5px;
  font-size: 36pt;
}

#titlePic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: auto;
  grid-area: titlePic;
}

#korean {
  grid-area: korean;
  margin-top: 20px;
  display: block;
}

#titleContainer { 
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "titlePic korean"
    "titlePic title"
} 

h1 {
  font-weight: lighter;
  font-size: 36pt;
  margin-left: 5%;
  margin-top: 1rem;
}

h2 {
  margin: 10%;
  font-size: 40pt;
  font-weight: lighter;
}

/* DASHBOARD */
#upper {
  background-color: rgba(255, 255, 255, 0.3);
  height: 5rem;
  grid-area: upper;
}

#lower {
  background-color: rgba(255, 255, 255, 0.6);
  height: 7rem;
  grid-area: lower;
}

#dashboard {
  opacity: 0;
  margin-left: 70%;
  width: 20%;
  position: fixed;
  top: 10%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    "upper"
    "lower"
    "lower"
}

.dashText {
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 10px;
  margin-bottom: 0px;
  margin-right: 0px;
  font-size: 14pt;
}

#timeToEat {
  padding-left: 15px;
  padding-top: 10px;
  font-size: 16pt;
  font-weight: lighter;
  margin: 0px;
}

/* RECIPE SECTION FORMATTING */

.carrots {
  color: #DC6626;
}

#carrots {
  grid-area: carrots;
  background-color: #F8AC67;
}

.cucumbers {
  color: #2F5B2C;
}

#cucumbers {
  grid-area: cucumbers;
  background-color: #ADD7A2;
}

.beef {
  color: #5D3C15;
}

#beef {
  grid-area: beef;
  background-color: #5D3C15;
  color: #F3DDC0;
}

.rice {
  color: #5D3C15;
}

#rice {
  grid-area: rice;
  background-color: #F3DDC0;
}

.sauce {
  color: #CC4128;
}

#sauce {
  grid-area: sauce;
  background-color: #CC4128;
  color: #F3DDC0;
}

.spinach {
  color: #2F5B2C;
}

#spinach {
  grid-area: spinach;
  background-color: #2F5B2C;
  color: #ADD7A2;
}

.mushrooms {
  color: #5D3C15;
}

#mushrooms {
  grid-area: mushrooms;
  background-color: #AE977A;
}

.egg {
  color: #A4772B;
}

#egg {
  grid-area: egg;
  background-color: #F6C75E;
}

.combine {
  grid-area: combine;
  background-color: #FFFFFF;
}

#recipe {
  width: 100%;
  height: 2400vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 4fr 4fr 2fr 2fr 4fr 2fr 1fr 1fr;
  grid-template-areas:
    "carrots"
    "cucumbers"
    "beef"
    "rice"
    "sauce"
    "spinach"
    "mushrooms"
    "egg"
    "combine"
}

.ingredientContainer {
  margin-left: 7%;
  width: 60%;
}

.number {
  font-size: 160pt;
}

.sectionTitleContainer {
  margin: 0;
  width: 70%;
  position: -webkit-sticky;
  position: sticky;
  top: 10%;
}

/* INDIVIDUAL RECIPE ELEMENTS */

/* CARROTS & RADISHES */

#carrotTitle {
  padding: 10px 10px 10px 10px;
}

#carrotTitleContainer {
  background-color: #F8AC67;
}

#carrotContainer {
  height: 270vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
    "firstCarrot firstCarrot"
    "secondCarrot thirdCarrot"
    "fourthCarrot fifthCarrot"
    "sixthCarrot seventhCarrot"
}

#firstCarrot {
  height: 40vh;
  grid-area: firstCarrot;
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "carrotOne firstCarrotPic"
    "carrotOne firstCarrotText"
}

#carrotOne {
  vertical-align: middle;
  grid-area: carrotOne;
}

#firstCarrotPic {
  grid-area: firstCarrotPic;
}

#firstCarrotText {
  padding-left: 10px;
  grid-area: firstCarrotText;
}

#secondCarrot {
  height: 70vh;
  grid-area: secondCarrot;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
    "carrotTwo secondCarrotPic"
    "secondCarrotText secondCarrotPic"
}

#carrotTwo {
  grid-area: carrotTwo;
  padding-left: 10px;
}

#secondCarrotText {
  padding-left: 10px;
  grid-area: secondCarrotText;
}

#secondCarrotPic {
  padding-top: 30px;
  grid-area: secondCarrotPic;
}

#thirdCarrot {
  grid-area: thirdCarrot;
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
    "carrotThree thirdCarrotPic"
    "thirdCarrotText thirdCarrotPic"
}

#carrotThree {
  grid-area: carrotThree;
}

#thirdCarrotText {
  padding-left: 10px;
  grid-area: thirdCarrotText;
}

#thirdCarrotPic {
  padding-top: 30px;
  padding-left: 10px;
  grid-area: thirdCarrotPic;
}

#fourthCarrot {
  grid-area: fourthCarrot;
}

#fifthCarrot {
  grid-area: fifthCarrot;
}

#sixthCarrot {
  grid-area: sixthCarrot;
}

#seventhCarrot {
  grid-area: seventhCarrot;
}




