body {
    margin: 0px;
    font-family: "Comic Sans MS";
}

h1 {
    margin: 0px;
  }

#banner {
    color: #FFFFFF;
    background-color: black;
    background-position: 50% 100%;
    background-size: cover;
    padding: 20vh 20px;
    text-align: center;
    text-shadow: 0 0 5px black;
}

.section {
    padding: 20px;
    display: flex;
}

.section p {
    flex: 1;
}

.section svg {
    flex: 2;
    height: 400px;
}

@media (max-width: 600px) {
    .section {
      flex-direction: column;
    }
    .section svg {
      flex: none;
    }
  }

#tooltip {
    border: 1px solid cornflowerblue;
    display: none;
    position: absolute;
}