@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0px;
  padding: 0px;
  background-color: #fff;
  font-family: 'Roboto Mono', monospace;
}



button {
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  margin: 5px 0px;
  background-color: #fff;
  border: 1px solid #b9b8b9;
  font-size: 8pt;
  color: #808080;
  text-align: center;
  padding: 10px 10px;
  display: inline-block;
}

button:hover {
  background-color: #b9b8b9;
  color: #fff;
}

button:focus {
  background-color: #b9b8b9;
  color: #fff;
  outline:0;
}

button.active {
  background-color: #b9b8b9;
  color: #fff;
  outline:0;
}

#chart {
  height: 92vh;
  width: 80%;
}

