body {
    background-color: black;
}

figure {
    margin: 10px;
}

#donut_header {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: relative;
    text-align: center;
    max-width: 500px;
}

h3 {
    font-size: 30pt;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.percent_label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24pt;
    font-weight: bolder;
}

.unit_label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}
