* {
  box-sizing: border-box;
}

html, body {
  margin: 0px;
  padding: 0px;
  background-color: black;
}

p{
  margin: 10px 0px 0px 0px;
  padding: 0px;
  color: white;
}

/* h2 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin:30px 50px;
  font-size: 14pt;
} */

#container {
  width: 100%;
  height: 98vh;
  display: grid;
  grid-template-columns: 1.25fr 5fr;
  grid-template-rows: 0.25fr 15fr 1.5fr;
  grid-template-areas:
        "slider_result spacer"
        "stackedArea chart"
        "stackedArea legend"
}

#stackedArea {
  /* height: 90vh; */
  grid-area: stackedArea;
}

#chart {
  grid-area: chart;
}

#legend {
  grid-area: legend;
}


#slider_result {
  grid-area: slider_result;
  margin: 0px 20px;
  height: 8vh;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18pt;
  color: white;
}

.axisLabel {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12pt;
  color: white;
}

.axis {
  font-size: 9pt;
  color: white;
}

.legendLabel{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12pt;
  text-transform: capitalize;
  /* font-weight: bold; */

}

.track {
  stroke-linecap: butt;
  stroke: white;
  stroke-width: 2;
}

.track-inset {
  visibility: hidden;
}

.slider text {
  opacity: 0;
}

.axis text {
  opacity: 1;
  font-size: 9pt;
  fill: white;
}

.tick line {
  opacity: 0;
}

.handle {
  outline: none ! important;
  stroke: white;
  fill: black;
}

.tooltip {
  position: absolute; 
  /*in absolutely pixel positions relative to the container in which it is located*/
  left: 30%;
  top: 30%;
  visibility: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10pt;
  color: white;
  background-color:rgba(0,0,0,100);
  padding: 8px;
  pointer-events: none; /*tells the browser to ignore interactions with the element*/
}



