* {
  box-sizing: border-box;
}

html, body {
  margin: 0px;
  padding: 0px;
}

p{
  margin: 10px 0px 0px 0px;
  padding: 0px;
}

/* h2 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin:30px 50px;
  font-size: 14pt;
} */

#container {
  width: 100%;
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 15fr;
  grid-template-areas:
        "slider_result spacer"
        "chart spacer"
}

#chart {
  /* height: 90vh; */
  grid-area: chart;
}


#slider_result {
  grid-area: slider_result;
  margin: 0px 50px;
  height: 16vh;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 24pt;
}

.axisLabel {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12pt;
}

.axis {
  font-size: 9pt;
}

.track {
  stroke-linecap: butt;
  stroke: black;
  stroke-width: 2;
}

.track-inset {
  visibility: hidden;
}

.slider text {
  opacity: 0;
}

.axis text {
  opacity: 1;
  font-size: 9pt;
  fill: black;
}

.tick line {
  opacity: 0;
}

.handle {
  outline: none ! important;
}


