body {
    background-color: black;
}

h3 {
    font-size: 20pt;
    margin: 0px 5px 0px 0px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#bar_header {
    margin: 20px 0px 0px 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: inline-block;
}

.axis text{
    color: white;
}

.axis line {
    visibility: hidden;
}

.axis path {
    visibility: hidden;
}

.percent_label {
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.8;
  
}
